/* Base claire : #E9EDC9
Vert olive : #656D4A */

/* =========================
   GLOBAL
   ========================= */

/* Tailwind (selon ta config) */
@import "tailwindcss";

/* Base page */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

/* Typo */
body {
  font-family: "Poppins", sans-serif;
}

/* Smooth scroll (ancres #home etc.) */
html {
  scroll-behavior: smooth;
}

/* Box sizing global */
* {
  box-sizing: border-box;
}

/* Canvas (3D) */
canvas {
  display: block;
}

/* =========================
   GITHUB CALENDAR (react-github-calendar)
   Met className="ghCal" sur le wrapper du calendrier
   ========================= */

/* Texte dans le SVG (mois/jours) */
.ghCal svg text {
  fill: #e9edc9 !important;
}

/* Jours semaine un peu plus doux */
.ghCal svg text.wday {
  fill: #8f9a6a !important;
}

/* Texte HTML autour (Less / More / contributions) */
.ghCal,
.ghCal * {
  color: #e9edc9 !important;
}

/* =========================
   SCROLLBARS
   ========================= */

/* Scrollbar custom GLOBAL (s’applique à tous les scrolls) */
::-webkit-scrollbar {
  width: 10px; /* vertical */
  height: 10px; /* horizontal */
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #656d4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #656d4a8a;
}

/* Cache scrollbar UNIQUEMENT là où tu mets className="no-scrollbar" */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-width: none; /* Firefox */
}
