@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Couleur du texte des mois (Sep, Oct, ...) */
.ghCal .react-activity-calendar__legend-month text {
  fill: #efd3d6;
}

/* Couleur du texte des jours (Mon/Wed/Fri) si tu veux aussi */
.ghCal .react-activity-calendar__legend-weekday text {
  fill: #efd3d6;
}

/* Texte "xxx contributions in the last year" */
.ghCal .react-activity-calendar__legend text {
  fill: #efd3d6;
  font-size: 12px;
}

/* Texte Less / More */
.ghCal .react-activity-calendar__legend-colors text {
  fill: #efd3d6;
}
/* Scrollbar pour Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #12080e; /* fond de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #d56b77; /* couleur du "bouton" */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e3b8be; /* couleur au hover */
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
